html {
  font-size: 10px;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2; /* Light grey background */
  color: #333; /* Darker grey text */
  line-height: 1.6;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.product-container {
  border: 5px solid #333; /* Darker grey border for contrast */
  background: #ffff00; /* Yellow background */
  width: 75rem;
  height: auto; /* Adjusted for content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.details .cost, .details .title {
  font-weight: 600;
  margin-bottom: 1rem; /* Space between title/cost and content */
}

.card-container {
  background-color: #fff; /* White background for card details */
  border: 2px solid #333; /* Darker border for definition */
  padding: 2rem;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  margin-top: 2rem; /* Space from product container */
  box-shadow: 0 0 20px rgba(0,0,0,0.2); /* More pronounced shadow for focus */
}

.card-details, .mastercard, .field, .purchase-button {
  margin-bottom: 1rem; /* Uniform spacing */
}

.field input {
  border: none;
  border-bottom: 2px solid #333; /* Underline effect */
  margin-top: 0.5rem; /* Space from label */
}

.purchase-button {
  background-color: #000; /* Black button */
  color: #ffff00; /* Yellow text */
  border: 1px solid #ffff00; /* Yellow border */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.purchase-button:hover {
  background-color: #ffff00; /* Yellow background on hover */
  color: #000; /* Black text on hover */
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 1050px) {
  .product-container, .card-container {
      width: 90%; /* Full width on small screens */
      margin: 2rem; /* Space from edges */
      height: auto; /* Adjust height for content */
  }

  body {
      flex-direction: column; /* Stack elements vertically */
  }
}
